<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dan.danbusiness.mapper.ProductEntityMapper">
  <resultMap id="BaseResultMap" type="com.dan.danbusiness.entity.ProductEntity">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="product_category_id" jdbcType="INTEGER" property="productCategoryId" />
    <result column="feight_template_id" jdbcType="INTEGER" property="feightTemplateId" />
    <result column="product_attribute_category_id" jdbcType="BIGINT" property="productAttributeCategoryId" />
    <result column="name" jdbcType="VARCHAR" property="name" />
    <result column="pic" jdbcType="VARCHAR" property="pic" />
    <result column="product_sn" jdbcType="VARCHAR" property="productSn" />
    <result column="delete_status" jdbcType="INTEGER" property="deleteStatus" />
    <result column="publish_status" jdbcType="INTEGER" property="publishStatus" />
    <result column="new_status" jdbcType="INTEGER" property="newStatus" />
    <result column="recommand_status" jdbcType="INTEGER" property="recommandStatus" />
    <result column="sort" jdbcType="INTEGER" property="sort" />
    <result column="sale" jdbcType="INTEGER" property="sale" />
    <result column="price" jdbcType="DECIMAL" property="price" />
    <result column="gift_growth" jdbcType="INTEGER" property="giftGrowth" />
    <result column="gift_point" jdbcType="INTEGER" property="giftPoint" />
    <result column="use_point_limit" jdbcType="INTEGER" property="usePointLimit" />
    <result column="sub_title" jdbcType="VARCHAR" property="subTitle" />
    <result column="original_price" jdbcType="DECIMAL" property="originalPrice" />
    <result column="stock" jdbcType="INTEGER" property="stock" />
    <result column="low_stock" jdbcType="INTEGER" property="lowStock" />
    <result column="unit" jdbcType="VARCHAR" property="unit" />
    <result column="weight" jdbcType="DECIMAL" property="weight" />
    <result column="preview_status" jdbcType="INTEGER" property="previewStatus" />
    <result column="service_ids" jdbcType="VARCHAR" property="serviceIds" />
    <result column="keywords" jdbcType="VARCHAR" property="keywords" />
    <result column="note" jdbcType="VARCHAR" property="note" />
    <result column="album_pics" jdbcType="VARCHAR" property="albumPics" />
    <result column="detail_title" jdbcType="VARCHAR" property="detailTitle" />
    <result column="promotion_type" jdbcType="INTEGER" property="promotionType" />
    <result column="description" jdbcType="LONGVARCHAR" property="description" />
    <result column="detail_desc" jdbcType="LONGVARCHAR" property="detailDesc" />
    <result column="detail_html" jdbcType="LONGVARCHAR" property="detailHtml" />
    <result column="detail_mobile_html" jdbcType="LONGVARCHAR" property="detailMobileHtml" />
  </resultMap>
  <sql id="Base_Column_List">
    id, product_category_id, feight_template_id, product_attribute_category_id, name, 
    pic, product_sn, delete_status, publish_status, new_status, recommand_status, sort, 
    sale, price, gift_growth, gift_point, use_point_limit, sub_title, original_price, 
    stock, low_stock, unit, weight, preview_status, service_ids, keywords, note, album_pics, 
    detail_title, promotion_type, description, detail_desc, detail_html, detail_mobile_html
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from tb_product
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from tb_product
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.dan.danbusiness.entity.ProductEntity">
    <selectKey keyProperty="id" order="AFTER" resultType="java.lang.Integer">
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into tb_product (product_category_id, feight_template_id, 
      product_attribute_category_id, name, pic, 
      product_sn, delete_status, publish_status, 
      new_status, recommand_status, sort, 
      sale, price, gift_growth, 
      gift_point, use_point_limit, sub_title, 
      original_price, stock, low_stock, 
      unit, weight, preview_status, 
      service_ids, keywords, note, 
      album_pics, detail_title, promotion_type, 
      description, detail_desc, detail_html, 
      detail_mobile_html)
    values (#{productCategoryId,jdbcType=INTEGER}, #{feightTemplateId,jdbcType=INTEGER}, 
      #{productAttributeCategoryId,jdbcType=BIGINT}, #{name,jdbcType=VARCHAR}, #{pic,jdbcType=VARCHAR}, 
      #{productSn,jdbcType=VARCHAR}, #{deleteStatus,jdbcType=INTEGER}, #{publishStatus,jdbcType=INTEGER}, 
      #{newStatus,jdbcType=INTEGER}, #{recommandStatus,jdbcType=INTEGER}, #{sort,jdbcType=INTEGER}, 
      #{sale,jdbcType=INTEGER}, #{price,jdbcType=DECIMAL}, #{giftGrowth,jdbcType=INTEGER}, 
      #{giftPoint,jdbcType=INTEGER}, #{usePointLimit,jdbcType=INTEGER}, #{subTitle,jdbcType=VARCHAR}, 
      #{originalPrice,jdbcType=DECIMAL}, #{stock,jdbcType=INTEGER}, #{lowStock,jdbcType=INTEGER}, 
      #{unit,jdbcType=VARCHAR}, #{weight,jdbcType=DECIMAL}, #{previewStatus,jdbcType=INTEGER}, 
      #{serviceIds,jdbcType=VARCHAR}, #{keywords,jdbcType=VARCHAR}, #{note,jdbcType=VARCHAR}, 
      #{albumPics,jdbcType=VARCHAR}, #{detailTitle,jdbcType=VARCHAR}, #{promotionType,jdbcType=INTEGER}, 
      #{description,jdbcType=LONGVARCHAR}, #{detailDesc,jdbcType=LONGVARCHAR}, #{detailHtml,jdbcType=LONGVARCHAR}, 
      #{detailMobileHtml,jdbcType=LONGVARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.dan.danbusiness.entity.ProductEntity">
    <selectKey keyProperty="id" order="AFTER" resultType="java.lang.Integer">
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into tb_product
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="productCategoryId != null">
        product_category_id,
      </if>
      <if test="feightTemplateId != null">
        feight_template_id,
      </if>
      <if test="productAttributeCategoryId != null">
        product_attribute_category_id,
      </if>
      <if test="name != null">
        name,
      </if>
      <if test="pic != null">
        pic,
      </if>
      <if test="productSn != null">
        product_sn,
      </if>
      <if test="deleteStatus != null">
        delete_status,
      </if>
      <if test="publishStatus != null">
        publish_status,
      </if>
      <if test="newStatus != null">
        new_status,
      </if>
      <if test="recommandStatus != null">
        recommand_status,
      </if>
      <if test="sort != null">
        sort,
      </if>
      <if test="sale != null">
        sale,
      </if>
      <if test="price != null">
        price,
      </if>
      <if test="giftGrowth != null">
        gift_growth,
      </if>
      <if test="giftPoint != null">
        gift_point,
      </if>
      <if test="usePointLimit != null">
        use_point_limit,
      </if>
      <if test="subTitle != null">
        sub_title,
      </if>
      <if test="originalPrice != null">
        original_price,
      </if>
      <if test="stock != null">
        stock,
      </if>
      <if test="lowStock != null">
        low_stock,
      </if>
      <if test="unit != null">
        unit,
      </if>
      <if test="weight != null">
        weight,
      </if>
      <if test="previewStatus != null">
        preview_status,
      </if>
      <if test="serviceIds != null">
        service_ids,
      </if>
      <if test="keywords != null">
        keywords,
      </if>
      <if test="note != null">
        note,
      </if>
      <if test="albumPics != null">
        album_pics,
      </if>
      <if test="detailTitle != null">
        detail_title,
      </if>
      <if test="promotionType != null">
        promotion_type,
      </if>
      <if test="description != null">
        description,
      </if>
      <if test="detailDesc != null">
        detail_desc,
      </if>
      <if test="detailHtml != null">
        detail_html,
      </if>
      <if test="detailMobileHtml != null">
        detail_mobile_html,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="productCategoryId != null">
        #{productCategoryId,jdbcType=INTEGER},
      </if>
      <if test="feightTemplateId != null">
        #{feightTemplateId,jdbcType=INTEGER},
      </if>
      <if test="productAttributeCategoryId != null">
        #{productAttributeCategoryId,jdbcType=BIGINT},
      </if>
      <if test="name != null">
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="pic != null">
        #{pic,jdbcType=VARCHAR},
      </if>
      <if test="productSn != null">
        #{productSn,jdbcType=VARCHAR},
      </if>
      <if test="deleteStatus != null">
        #{deleteStatus,jdbcType=INTEGER},
      </if>
      <if test="publishStatus != null">
        #{publishStatus,jdbcType=INTEGER},
      </if>
      <if test="newStatus != null">
        #{newStatus,jdbcType=INTEGER},
      </if>
      <if test="recommandStatus != null">
        #{recommandStatus,jdbcType=INTEGER},
      </if>
      <if test="sort != null">
        #{sort,jdbcType=INTEGER},
      </if>
      <if test="sale != null">
        #{sale,jdbcType=INTEGER},
      </if>
      <if test="price != null">
        #{price,jdbcType=DECIMAL},
      </if>
      <if test="giftGrowth != null">
        #{giftGrowth,jdbcType=INTEGER},
      </if>
      <if test="giftPoint != null">
        #{giftPoint,jdbcType=INTEGER},
      </if>
      <if test="usePointLimit != null">
        #{usePointLimit,jdbcType=INTEGER},
      </if>
      <if test="subTitle != null">
        #{subTitle,jdbcType=VARCHAR},
      </if>
      <if test="originalPrice != null">
        #{originalPrice,jdbcType=DECIMAL},
      </if>
      <if test="stock != null">
        #{stock,jdbcType=INTEGER},
      </if>
      <if test="lowStock != null">
        #{lowStock,jdbcType=INTEGER},
      </if>
      <if test="unit != null">
        #{unit,jdbcType=VARCHAR},
      </if>
      <if test="weight != null">
        #{weight,jdbcType=DECIMAL},
      </if>
      <if test="previewStatus != null">
        #{previewStatus,jdbcType=INTEGER},
      </if>
      <if test="serviceIds != null">
        #{serviceIds,jdbcType=VARCHAR},
      </if>
      <if test="keywords != null">
        #{keywords,jdbcType=VARCHAR},
      </if>
      <if test="note != null">
        #{note,jdbcType=VARCHAR},
      </if>
      <if test="albumPics != null">
        #{albumPics,jdbcType=VARCHAR},
      </if>
      <if test="detailTitle != null">
        #{detailTitle,jdbcType=VARCHAR},
      </if>
      <if test="promotionType != null">
        #{promotionType,jdbcType=INTEGER},
      </if>
      <if test="description != null">
        #{description,jdbcType=LONGVARCHAR},
      </if>
      <if test="detailDesc != null">
        #{detailDesc,jdbcType=LONGVARCHAR},
      </if>
      <if test="detailHtml != null">
        #{detailHtml,jdbcType=LONGVARCHAR},
      </if>
      <if test="detailMobileHtml != null">
        #{detailMobileHtml,jdbcType=LONGVARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.dan.danbusiness.entity.ProductEntity">
    update tb_product
    <set>
      <if test="productCategoryId != null">
        product_category_id = #{productCategoryId,jdbcType=INTEGER},
      </if>
      <if test="feightTemplateId != null">
        feight_template_id = #{feightTemplateId,jdbcType=INTEGER},
      </if>
      <if test="productAttributeCategoryId != null">
        product_attribute_category_id = #{productAttributeCategoryId,jdbcType=BIGINT},
      </if>
      <if test="name != null">
        name = #{name,jdbcType=VARCHAR},
      </if>
      <if test="pic != null">
        pic = #{pic,jdbcType=VARCHAR},
      </if>
      <if test="productSn != null">
        product_sn = #{productSn,jdbcType=VARCHAR},
      </if>
      <if test="deleteStatus != null">
        delete_status = #{deleteStatus,jdbcType=INTEGER},
      </if>
      <if test="publishStatus != null">
        publish_status = #{publishStatus,jdbcType=INTEGER},
      </if>
      <if test="newStatus != null">
        new_status = #{newStatus,jdbcType=INTEGER},
      </if>
      <if test="recommandStatus != null">
        recommand_status = #{recommandStatus,jdbcType=INTEGER},
      </if>
      <if test="sort != null">
        sort = #{sort,jdbcType=INTEGER},
      </if>
      <if test="sale != null">
        sale = #{sale,jdbcType=INTEGER},
      </if>
      <if test="price != null">
        price = #{price,jdbcType=DECIMAL},
      </if>
      <if test="giftGrowth != null">
        gift_growth = #{giftGrowth,jdbcType=INTEGER},
      </if>
      <if test="giftPoint != null">
        gift_point = #{giftPoint,jdbcType=INTEGER},
      </if>
      <if test="usePointLimit != null">
        use_point_limit = #{usePointLimit,jdbcType=INTEGER},
      </if>
      <if test="subTitle != null">
        sub_title = #{subTitle,jdbcType=VARCHAR},
      </if>
      <if test="originalPrice != null">
        original_price = #{originalPrice,jdbcType=DECIMAL},
      </if>
      <if test="stock != null">
        stock = #{stock,jdbcType=INTEGER},
      </if>
      <if test="lowStock != null">
        low_stock = #{lowStock,jdbcType=INTEGER},
      </if>
      <if test="unit != null">
        unit = #{unit,jdbcType=VARCHAR},
      </if>
      <if test="weight != null">
        weight = #{weight,jdbcType=DECIMAL},
      </if>
      <if test="previewStatus != null">
        preview_status = #{previewStatus,jdbcType=INTEGER},
      </if>
      <if test="serviceIds != null">
        service_ids = #{serviceIds,jdbcType=VARCHAR},
      </if>
      <if test="keywords != null">
        keywords = #{keywords,jdbcType=VARCHAR},
      </if>
      <if test="note != null">
        note = #{note,jdbcType=VARCHAR},
      </if>
      <if test="albumPics != null">
        album_pics = #{albumPics,jdbcType=VARCHAR},
      </if>
      <if test="detailTitle != null">
        detail_title = #{detailTitle,jdbcType=VARCHAR},
      </if>
      <if test="promotionType != null">
        promotion_type = #{promotionType,jdbcType=INTEGER},
      </if>
      <if test="description != null">
        description = #{description,jdbcType=LONGVARCHAR},
      </if>
      <if test="detailDesc != null">
        detail_desc = #{detailDesc,jdbcType=LONGVARCHAR},
      </if>
      <if test="detailHtml != null">
        detail_html = #{detailHtml,jdbcType=LONGVARCHAR},
      </if>
      <if test="detailMobileHtml != null">
        detail_mobile_html = #{detailMobileHtml,jdbcType=LONGVARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKeyWithBLOBs" parameterType="com.dan.danbusiness.entity.ProductEntity">
    update tb_product
    set product_category_id = #{productCategoryId,jdbcType=INTEGER},
      feight_template_id = #{feightTemplateId,jdbcType=INTEGER},
      product_attribute_category_id = #{productAttributeCategoryId,jdbcType=BIGINT},
      name = #{name,jdbcType=VARCHAR},
      pic = #{pic,jdbcType=VARCHAR},
      product_sn = #{productSn,jdbcType=VARCHAR},
      delete_status = #{deleteStatus,jdbcType=INTEGER},
      publish_status = #{publishStatus,jdbcType=INTEGER},
      new_status = #{newStatus,jdbcType=INTEGER},
      recommand_status = #{recommandStatus,jdbcType=INTEGER},
      sort = #{sort,jdbcType=INTEGER},
      sale = #{sale,jdbcType=INTEGER},
      price = #{price,jdbcType=DECIMAL},
      gift_growth = #{giftGrowth,jdbcType=INTEGER},
      gift_point = #{giftPoint,jdbcType=INTEGER},
      use_point_limit = #{usePointLimit,jdbcType=INTEGER},
      sub_title = #{subTitle,jdbcType=VARCHAR},
      original_price = #{originalPrice,jdbcType=DECIMAL},
      stock = #{stock,jdbcType=INTEGER},
      low_stock = #{lowStock,jdbcType=INTEGER},
      unit = #{unit,jdbcType=VARCHAR},
      weight = #{weight,jdbcType=DECIMAL},
      preview_status = #{previewStatus,jdbcType=INTEGER},
      service_ids = #{serviceIds,jdbcType=VARCHAR},
      keywords = #{keywords,jdbcType=VARCHAR},
      note = #{note,jdbcType=VARCHAR},
      album_pics = #{albumPics,jdbcType=VARCHAR},
      detail_title = #{detailTitle,jdbcType=VARCHAR},
      promotion_type = #{promotionType,jdbcType=INTEGER},
      description = #{description,jdbcType=LONGVARCHAR},
      detail_desc = #{detailDesc,jdbcType=LONGVARCHAR},
      detail_html = #{detailHtml,jdbcType=LONGVARCHAR},
      detail_mobile_html = #{detailMobileHtml,jdbcType=LONGVARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.dan.danbusiness.entity.ProductEntity">
    update tb_product
    set product_category_id = #{productCategoryId,jdbcType=INTEGER},
      feight_template_id = #{feightTemplateId,jdbcType=INTEGER},
      product_attribute_category_id = #{productAttributeCategoryId,jdbcType=BIGINT},
      name = #{name,jdbcType=VARCHAR},
      pic = #{pic,jdbcType=VARCHAR},
      product_sn = #{productSn,jdbcType=VARCHAR},
      delete_status = #{deleteStatus,jdbcType=INTEGER},
      publish_status = #{publishStatus,jdbcType=INTEGER},
      new_status = #{newStatus,jdbcType=INTEGER},
      recommand_status = #{recommandStatus,jdbcType=INTEGER},
      sort = #{sort,jdbcType=INTEGER},
      sale = #{sale,jdbcType=INTEGER},
      price = #{price,jdbcType=DECIMAL},
      gift_growth = #{giftGrowth,jdbcType=INTEGER},
      gift_point = #{giftPoint,jdbcType=INTEGER},
      use_point_limit = #{usePointLimit,jdbcType=INTEGER},
      sub_title = #{subTitle,jdbcType=VARCHAR},
      original_price = #{originalPrice,jdbcType=DECIMAL},
      stock = #{stock,jdbcType=INTEGER},
      low_stock = #{lowStock,jdbcType=INTEGER},
      unit = #{unit,jdbcType=VARCHAR},
      weight = #{weight,jdbcType=DECIMAL},
      preview_status = #{previewStatus,jdbcType=INTEGER},
      service_ids = #{serviceIds,jdbcType=VARCHAR},
      keywords = #{keywords,jdbcType=VARCHAR},
      note = #{note,jdbcType=VARCHAR},
      album_pics = #{albumPics,jdbcType=VARCHAR},
      detail_title = #{detailTitle,jdbcType=VARCHAR},
      promotion_type = #{promotionType,jdbcType=INTEGER}
    where id = #{id,jdbcType=INTEGER}
  </update>

  <select id="selectProductListCount" parameterType="com.dan.danbusiness.vo.ProductPageVO" resultType="java.lang.Integer">
    select
    count(1)
    from tb_product
    where delete_status != 1
    <if test="productPageVO.name != null and productPageVO.name != ''">
      and name LIKE concat(concat('%',#{productPageVO.name,jdbcType=VARCHAR}),'%')
    </if>
    <if test="productPageVO.productSn != null and productPageVO.productSn != ''">
      and product_sn LIKE concat(concat('%',#{productPageVO.productSn,jdbcType=VARCHAR}),'%')
    </if>
    <if test="productPageVO.productCategoryId != null">
      and product_category_id = #{productPageVO.productCategoryId,jdbcType=INTEGER}
    </if>
    <if test="productPageVO.publishStatus != null">
      and publish_status = #{productPageVO.publishStatus,jdbcType=INTEGER}
    </if>
  </select>

  <select id="selectProductList" parameterType="com.dan.danbusiness.vo.ProductPageVO" resultMap="BaseResultMap">
    SELECT a.id, a.product_category_id, a.name, a.pic, a.product_sn, a.publish_status,
    a.new_status, a.recommand_status, a.sort, a.sale, a.price,b.name FROM tb_product a
    LEFT JOIN tb_product_category b ON a.product_category_id = b.id
    where  a.delete_status != 1
    <if test="productPageVO.name != null and productPageVO.name != ''">
      and a.name LIKE concat(concat('%',#{productPageVO.name,jdbcType=VARCHAR}),'%')
    </if>
    <if test="productPageVO.productSn != null and productPageVO.productSn != ''">
      and a.product_sn LIKE concat(concat('%',#{productPageVO.productSn,jdbcType=VARCHAR}),'%')
    </if>
    <if test="productPageVO.productCategoryId != null">
      and a.product_category_id = #{productPageVO.productCategoryId,jdbcType=INTEGER}
    </if>
    <if test="productPageVO.publishStatus != null">
      and a.publish_status = #{productPageVO.publishStatus,jdbcType=INTEGER}
    </if>
    ORDER BY a.id DESC
    LIMIT #{productPageVO.dbIndex,jdbcType=INTEGER},#{productPageVO.dbNumber,jdbcType=INTEGER}
  </select>

  <select id="selectPromotionTypeById" parameterType="java.lang.Integer" resultType="java.lang.Integer">
    select
    promotion_type
    from tb_product
    where id = #{id,jdbcType=INTEGER}
  </select>

  <update id="deleteByPrimaryKeys" parameterType="java.util.List">
    update tb_product
    set delete_status = 1
    where id in
    <foreach collection="ids" item="id" open="(" separator="," close=")">
      #{id}
    </foreach>
  </update>
</mapper>