<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dan.danbusiness.mapper.SkuStockEntityMapper">
  <resultMap id="BaseResultMap" type="com.dan.danbusiness.entity.SkuStockEntity">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="product_id" jdbcType="INTEGER" property="productId" />
    <result column="sku_code" jdbcType="VARCHAR" property="skuCode" />
    <result column="price" jdbcType="DECIMAL" property="price" />
    <result column="stock" jdbcType="INTEGER" property="stock" />
    <result column="low_stock" jdbcType="INTEGER" property="lowStock" />
    <result column="sp1" jdbcType="VARCHAR" property="sp1" />
    <result column="sp2" jdbcType="VARCHAR" property="sp2" />
    <result column="sp3" jdbcType="VARCHAR" property="sp3" />
    <result column="pic" jdbcType="VARCHAR" property="pic" />
    <result column="sale" jdbcType="INTEGER" property="sale" />
  </resultMap>
  <sql id="Base_Column_List">
    id, product_id, sku_code, price, stock, low_stock, sp1, sp2, sp3, pic, sale
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from tb_sku_stock
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from tb_sku_stock
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.dan.danbusiness.entity.SkuStockEntity">
    <selectKey keyProperty="id" order="AFTER" resultType="java.lang.Integer">
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into tb_sku_stock (product_id, sku_code, price, 
      stock, low_stock, sp1, 
      sp2, sp3, pic, sale
      )
    values (#{productId,jdbcType=INTEGER}, #{skuCode,jdbcType=VARCHAR}, #{price,jdbcType=DECIMAL}, 
      #{stock,jdbcType=INTEGER}, #{lowStock,jdbcType=INTEGER}, #{sp1,jdbcType=VARCHAR}, 
      #{sp2,jdbcType=VARCHAR}, #{sp3,jdbcType=VARCHAR}, #{pic,jdbcType=VARCHAR}, #{sale,jdbcType=INTEGER}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.dan.danbusiness.entity.SkuStockEntity">
    <selectKey keyProperty="id" order="AFTER" resultType="java.lang.Integer">
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into tb_sku_stock
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="productId != null">
        product_id,
      </if>
      <if test="skuCode != null">
        sku_code,
      </if>
      <if test="price != null">
        price,
      </if>
      <if test="stock != null">
        stock,
      </if>
      <if test="lowStock != null">
        low_stock,
      </if>
      <if test="sp1 != null">
        sp1,
      </if>
      <if test="sp2 != null">
        sp2,
      </if>
      <if test="sp3 != null">
        sp3,
      </if>
      <if test="pic != null">
        pic,
      </if>
      <if test="sale != null">
        sale,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="productId != null">
        #{productId,jdbcType=INTEGER},
      </if>
      <if test="skuCode != null">
        #{skuCode,jdbcType=VARCHAR},
      </if>
      <if test="price != null">
        #{price,jdbcType=DECIMAL},
      </if>
      <if test="stock != null">
        #{stock,jdbcType=INTEGER},
      </if>
      <if test="lowStock != null">
        #{lowStock,jdbcType=INTEGER},
      </if>
      <if test="sp1 != null">
        #{sp1,jdbcType=VARCHAR},
      </if>
      <if test="sp2 != null">
        #{sp2,jdbcType=VARCHAR},
      </if>
      <if test="sp3 != null">
        #{sp3,jdbcType=VARCHAR},
      </if>
      <if test="pic != null">
        #{pic,jdbcType=VARCHAR},
      </if>
      <if test="sale != null">
        #{sale,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.dan.danbusiness.entity.SkuStockEntity">
    update tb_sku_stock
    <set>
      <if test="productId != null">
        product_id = #{productId,jdbcType=INTEGER},
      </if>
      <if test="skuCode != null">
        sku_code = #{skuCode,jdbcType=VARCHAR},
      </if>
      <if test="price != null">
        price = #{price,jdbcType=DECIMAL},
      </if>
      <if test="stock != null">
        stock = #{stock,jdbcType=INTEGER},
      </if>
      <if test="lowStock != null">
        low_stock = #{lowStock,jdbcType=INTEGER},
      </if>
      <if test="sp1 != null">
        sp1 = #{sp1,jdbcType=VARCHAR},
      </if>
      <if test="sp2 != null">
        sp2 = #{sp2,jdbcType=VARCHAR},
      </if>
      <if test="sp3 != null">
        sp3 = #{sp3,jdbcType=VARCHAR},
      </if>
      <if test="pic != null">
        pic = #{pic,jdbcType=VARCHAR},
      </if>
      <if test="sale != null">
        sale = #{sale,jdbcType=INTEGER},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.dan.danbusiness.entity.SkuStockEntity">
    update tb_sku_stock
    set product_id = #{productId,jdbcType=INTEGER},
      sku_code = #{skuCode,jdbcType=VARCHAR},
      price = #{price,jdbcType=DECIMAL},
      stock = #{stock,jdbcType=INTEGER},
      low_stock = #{lowStock,jdbcType=INTEGER},
      sp1 = #{sp1,jdbcType=VARCHAR},
      sp2 = #{sp2,jdbcType=VARCHAR},
      sp3 = #{sp3,jdbcType=VARCHAR},
      pic = #{pic,jdbcType=VARCHAR},
      sale = #{sale,jdbcType=INTEGER}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>